html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

tr,
td {
  border-radius: 0px;
  font-weight: 600;
}

thead {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0px !important;
  font-weight: bolder !important;
}
table {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 600px) {
  table {
    font-size: 0.9rem;
  }
}
