html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

tr,
td {
  border-radius: 0px;
  font-weight: 600;
}

thead {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0px !important;
  font-weight: bolder !important;
}
table {
  margin-top: 1.5rem;
}

img {
  border-radius: 15rem;
}

.buttonhand {
  margin-top: 1.1rem;
  border-radius: 1.5rem;
  margin-right: 5rem;
}

.buttonhand:hover,
.faleru:hover,
.palermo:hover {
  opacity: 0.9 !important;
}

.faleru {
  margin-top: 1.1rem;
  border-radius: 1.5rem;
  margin-left: 15rem;
}

.palermo {
  margin-top: 1.1rem;
  border-radius: 1.5rem;
  margin-left: 19rem;
}

.bastinas {
  margin-top: -1rem !important;
}

@media only screen and (max-width: 600px) {
  table {
    font-size: 0.9rem;
  }
}
