html,
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./resources/background.png");
  background-position: right 4.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.brazdaru {
  margin-top: 1.1rem;
  margin-right: 8rem;
  border-radius: 5rem;
}

.linkmeciuri {
  font-size: 1.5rem;
  margin-left: 3.5rem;
  text-decoration: none;
  color: black !important;
}

.linkmeciuri {
  opacity: 0.9 !important;
}

.capatana {
  margin-left: 20rem !important;
  font-size: 2.3rem !important;
}

@media only screen and (max-width: 600px) {
  table {
    font-size: 0.9rem;
  }

  .frumosu {
    max-width: 50%;
  }

  .header {
    font-size: 0.5rem !important;
  }

  html,
  body {
    font-family: "Montserrat", sans-serif;
    background-image: none !important;
    background-color: black;
    color: white !important;
    overflow-y: auto !important;
  }

  .intro {
    font-size: 0.2rem !important;
  }

  .footer {
    margin-top: 28rem !important;
    background-color: white;
    color: black;
  }

  .capatana {
    margin-top: -8rem;
    font-size: 0.2rem;
    margin-left: 0px;
  }

  .malareu {
    margin-top: -1rem;
    font-size: 1.2rem !important;
  }
}

.serieacss {
  display: inline-block;
  visibility: hidden;
}

@media only screen and (max-width: 1300px) {
  .poza,
  .hidden {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1000px) {
  html,
  body {
    font-family: "Montserrat", sans-serif;
    background-image: none !important;
    background-color: black;
    color: white !important;
  }

  .intro {
    margin-top: 8rem;
    padding: 2rem;
  }
}
